@import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@400;600&display=swap');


body {
    font-family: 'Bai Jamjuree', sans-serif;
    background-image: url(./images/bg-header-desktop.png);
    background-repeat: no-repeat;
    font-size: 1.15rem;
}

/* HERO */
.hero {
    display: flex;
    flex-direction: column;
    justify-content: center;  
    text-align: center;
    margin-top: 8%;  
}
.hero h1 {
    font-size: 2.5rem;
    color: hsl(210, 10%, 33%);
}
.hero-p-div,
.text-column p {
    display: flex;
    width: 40rem;
    margin-left: 27.5%;
    margin-top: -2%;
}
.hero p,
.sub-hero p,
.text-column p,
.card p {
    text-align: center;
    color: hsl(201, 11%, 66%);
}
/* SUB-HERO*/
.sub-hero {
    text-align: center;
    margin-top: 5%;
}
h3 {
    font-size: 1.8rem;
    color: hsl(210, 10%, 33%);
}
/* IMAGE TEXT */
.image-text-grid {
    margin-top: 5%;
    margin-left: -5%; 
    width: auto;
}
.image-text-div {
    display: grid;
    grid-template-columns: 2fr 1fr;
}
.right {
    margin-top: 5%;
    margin-left: -25%; 
    width: 400px;
}
h4 {
    font-size: 1.2rem;
}
.list-p,
.workflow-paragraph {
    color: hsl(201, 11%, 66%);
}
/* TEXT COLUMN */
.text-column {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-top: 8%;
}
.text-column-div p {
    margin-top: 1%;
}
#devices-img {
    margin-top: 5%;
}
/* Cards */
.workflow-div {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-top: 8%;
}
.workflow-paragraph {
    margin-top: -1.5%;
    margin-bottom: 5%;
}
.cards {
    display: flex;
    justify-content: space-evenly;
}
.card {
    width: 20rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.blacklist img {
    margin-top: 5%;
}
.card h5 {
    font-size: 1.2rem;
    color: hsl(210, 10%, 33%);
}
.card p {
    margin-top: -3%;
}
/* BRANDS */
.brands {
    margin-top: 10%;
}
.brands-div {
    display: flex;
    justify-content: space-evenly;
}
.brand {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
/* BUTTONS */
button {
    font-family: 'Bai Jamjuree', sans-serif;
    border: none;
    border-radius: 2.5rem;
    height: 3.5rem;
    width: 12.5rem;
    margin-top: 3%;
    color: white;
    font-weight: 600;
    font-size: 1rem;
    cursor: pointer;
}
.ios-btn {
    background-color: hsl(171, 66%, 44%);
    box-shadow: 5%;
}
.mac-btn {
    background-color: hsl(233, 100%, 69%);
}